body {
  display: flex;
  justify-content: space-around;
}

.square {
  width: 200px;
  height: 200px;
  border-style: solid;
  border-color: black;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 618px;
  height: 618px;
}

.mole {
  background-image: url("./../mole.jpg");
  background-size: cover;
}

#info {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#score,
#countdown {
  font-size: xx-large;
  color: grey;
  font-weight: 800;
}
